{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Events dashboard{% endblock %}

{% block content %}
<style>
.vega-embed canvas {
	max-width:100%;
}
.vega-actions {
	display:none;
}
.panel-number {
	margin-bottom:0.3em;
}
</style>
<link rel="stylesheet" media="screen, projection" href="{% static 'css/chartflo.css' %}" />
{% include "chartflo/head.html" %}
<h1>Events</h1>
<div style="width:80%;display:inline-block;">
 <p>
 	{% include "chartflo/charts/events_multi.html" %}
 </p>
 <p>
 	{% include "chartflo/charts/events_last_day.html" %}
 </p>
 <p>
 	{% include "chartflo/charts/events_timeline.html" %}
 </p>
 <p>
 	{% include "chartflo/charts/event_classes.html" %}
 </p>
 </div>
 <div style="width:18%;display:inline-block;text-align:center">
 	{% include "chartflo/numbers/events.html" %}
 	{% include "chartflo/numbers/errors.html" %}
 	{% include "chartflo/numbers/warnings.html" %}
 	{% include "chartflo/numbers/created.html" %}
 	{% include "chartflo/numbers/updated.html" %}
 	{% include "chartflo/numbers/deleted.html" %}
 </div>
{% endblock %}