<ul class="sidebar-menu" data-widget="tree">
	<li class="header">Event classes</li>
	<li class="treeview">
		<a href="#" onclick="loadDashboard('errors', 'mqueue')">Errors and warnings</a>
	</li>
	<li class="treeview">
		<a href="#" onclick="loadDashboard('edits', 'mqueue')">Edits</a>
	</li>
	<li class="treeview">
		<a href="#" onclick="loadDashboard('logins', 'mqueue')">Logins</a>
	</li>
	<li class="treeview">
		<a href="#" onclick="loadDashboard('registrations', 'mqueue')">Registrations</a>
	</li>
</ul>